@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Oswald&family=Poppins:wght@300;400&family=Roboto+Mono:wght@500&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(bg.jpg);
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #f0e7e2;
}
::-webkit-scrollbar-thumb{
    height: 20px;
    background-color: darkmagenta;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    /* border: #fff solid 2px; */
}
.navbar .logo-navbar h1{
    font-weight: 600;
    font-size: 36px;
    padding: 10% 10%;
    color: darkmagenta;
    /* border: #aaa solid 2px; */
}
.link-nav{
    flex: 2 1 auto;
    padding-left: 25%;
}
.navbar ul{
    /* border: #eaeaea solid 2px; */
    width: 60%;
    display: flex;
    justify-content: space-between;
    /* border: #000 solid 2px; */
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    font-weight: 550;
    font-size: 16px;
    flex-grow: 1;
    display: flex;
    text-decoration: none;
    color: aliceblue;
    /* border: #000 solid 2px; */
}
.navbar ul li a:hover{
    color: darkmagenta;
}

/* homepage */

.homepage{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 911px;
    width: 100%;
}
 .homepage .text-pembuka{
    /* border: #f0e7e2 solid 2px; */
    text-align: center;
    position: absolute;
    top: 160px;
    padding: auto 40px;
    box-sizing: border-box;
 }
 .homepage .text-pembuka h2{
    color: darkmagenta;
    font-weight: 600;
    font-size: 96px;
 }
.text-pembuka p{
    margin: 20px;
    padding: 5% auto;
    color: #f0e7e2;
    
 }
 .text-pembuka button{
    background-color: darkmagenta;
    border: none;
    border-radius: 8px;
    padding: 8px 22px;
 }
 .text-pembuka button a{
    text-decoration: none;
    color: #f0e7e2;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
 }


 .homepage .card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 475px;
    margin: 50px auto;
    /* border: #f0e7e2 solid 2px; */
 }
 .card-container .card-1,.card-2,.card-3{
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 380px;
    margin: 0 3%;
    border-radius: 8px;
    backdrop-filter: blur(30px);
    border: #eaeaea solid 2px;
 }
 .homepage .card-container img{
    width: 280px;
    height: 195px;
    border-radius: 8px 8px 0px 0px;
 }
 .homepage .card-container h3{
    color: #f0e7e2;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
 }
 .homepage .card-container h6{
    color: #f0e7e2;
    text-align: center;
    font-weight: 300;margin-bottom: 20px;
 }
.homepage .card-container p{
    font-weight: 300;
    font-size: 12px;
    color: #f0e7e2;
    text-align: center;
    padding: 20px;
}

/* footer */
.footer{
    backdrop-filter: blur(20px);
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    height: 180px;
    right: 0;
    bottom: 0;
    left: 0;
    top: 1050px;
  
}
.text-footer {
    gap: 30px;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
.logo-footer h1{
    padding: 20px;
    color: darkmagenta;
}
.text-footer h3{
    color: darkmagenta;
}
.text-footer ul{
    font-size: 12px;
    font-weight: 400;
    list-style: none;
    flex-direction: row;
}
.text-footer ul li a{
    color: #f0e7e2 ;
    text-decoration: none;
}



.text-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}
.text-area label{
    margin-left: 10px;
    font-weight: 600;
    color: #f0e7e2;
}
.text-area textarea{
    width: 300px;
    height: 80px;
    margin: 10px;
    background: transparent;
    border: darkmagenta solid 2px;
    border-radius: 8px;
}
.text-area button {
    color: #f0e7e2;
    width: 60px;
    margin-left: 10px;
    background: transparent;
    border: darkmagenta solid 2px;
    border-radius: 8px;

}
.text-area button:hover{
    background-color: #f0e7e2;
    color: darkmagenta;
}

/* resfonsive */
@media screen and (max-width: 700px){
    .link-nav{
        flex: 2 1 auto;
        padding-left: 20%;
    }
    .navbar ul{
        /* border: #eaeaea solid 2px; */
        width: 60%;
        display: flex;
        justify-content: space-between;
        /* border: #000 solid 2px; */
    }
    .homepage .card-container{
        top: 535px;
        gap: 30px;
    }
    .footer{
        flex-wrap: wrap;
        height: 350px;
        top: 1500px;
    }
    .footer label{
        font-weight: 500;
    }
    
}
@media screen and (max-width: 600px){
    .homepage .card-container{
        top: 795px;
        gap: 30px;
    }
}
@media screen and (max-width: 500px){
    .navbar .logo-navbar h1{
        font-weight: 600;
        font-size: 30px;
        padding: 10% 10%;
        
    }
    .link-nav{
        flex: 2 1 auto;
        padding-left: 10%;
    }
    .navbar ul{
        width: 80%;
        display: flex;
        justify-content: space-between;
        /* border: #000 solid 2px; */
    }

    /* konten */
    .homepage .text-pembuka{
        text-align: left;
        position: absolute;
        top: 160px;
        padding: auto 40px;
        box-sizing: border-box;
     }
    .homepage .text-pembuka h2{
        padding: 30px;
        font-weight: 600;
        font-size: 76px;
        
     }
     .text-pembuka p{
        margin: 20px;
        padding: 25px;
        
     }
     .homepage .text-pembuka button{
        margin-left: 25px;
     }
     .homepage .card-container{
        top: 835px;
        gap: 30px;
    }
    .footer{
        flex-wrap: wrap;
        height: 450px;
        top: 2250px;
    }
    .footer label{
        color: #f0e7e2;
        font-weight: 500;
    }
    .text-footer h3{
        font-size: 15px;
    }
}
/* @media screen and (max-width: 400px){
    .link-nav{
        flex: 2 1 auto;
        padding-left: 20%;
    }
    .navbar ul{
        width: 60%;
        display: flex;
        justify-content: space-between;
    }
    .homepage .card-container{
        top: 975px;
        gap: 30px;
    }

} */
@media screen and (max-width: 320px){
    .navbar .logo-navbar h1{
        font-weight: 600;
        font-size: 25px;
        padding: 10% 10%;
    }
    .link-nav{
        flex: 2 1 auto;
        padding-left: 5%;
    }
    .navbar ul{
        width: 90%;
        display: flex;
        justify-content: space-between;
        /* border: #000 solid 2px; */
    }
    
    /* konten */
    .homepage .text-pembuka h2{
        font-weight: 600;
        font-size: 56px;
        
     }
     .text-pembuka p{
        margin: 20px;
        padding: 25px;
        
     }
     .homepage .text-pembuka button{
        margin-left: 25px;
     }
     .homepage .card-container{
        top: 1035px;
    }
     .footer{
        top: 2430px;
        height: 500px ;
     }
     .text-footer{
        flex-wrap: wrap;
     }

     .text-area textarea{
        width: 250px;
        height: 40px;
     }
}
